/* CONTENEDOR PRINCIPAL */
.settings-container{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
}
/* CONTENEDOR DE SETTINGS */
.settings{
    width: 90%;
    display: flex;
    flex-direction: column;
    background-color: #252525;
   border-radius: 10px;
}
/*  TEXTOS GENERALES */

.g-settings{
    width: 100%;
    text-align: center;
    font-size: 35px;
    color: white;
    font-weight: 700;
    text-shadow: 5px 5px 2px #4e864c;
    padding: 10px;
}

.change-password_container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.change-password_container .change-password_section{
    width: 80%;
    display: flex;
    flex-direction: column;
    position: relative;
    
}
.change-password_container .changepass{
    width: 100%;
    color: white;
    font-size: 25px;
    font-weight: 700;
    
}
.change-password_container  div{
   display: flex;
   margin: 10px
}
.change-password_container  div input{
   background-color: #2e2e2e;
   border-radius: 5px;
   color: white;
   padding: 10px;
  outline: none;
  width: 70%;
}
.change-password_container  div p {
  color: white;
  font-size: 20px;
  width: 130px;
  text-align: center;
  margin-right: 10px;
}
.change-password_container  div:nth-child(4) {
  align-items: center;
}
.change-password_container  div:nth-child(2) {
  margin-top: 20px;
}

.change-password_container  button{
    background-color: #4e864c;
    font-size: 13px;
    border-radius: 5px;
    margin-left: 15px;
    color: white;
    padding: 10px;
    transition: .2s all;
 }
.change-password_container  button:hover{
    background-color: #396438;
   
 }


 /* make styles */

 .make_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .make_container > div{
    display: flex;
    color: white;
    margin: 10px;
    padding: 10px;
 }
 .make_container > div h2{
   font-size: 24px;
   margin-bottom: 10px;
 }
 .make_container > div p{
  color: gray;
 }
 .make-premium-button_container,
 .make-private-button_container{
   display: flex;
   align-items: flex-end;
   margin-left: 20px;
 }
 .make_container > div button{
   background-color: #4e864c;
   padding: 10px;
   border-radius: 5px;
   transition: .2s all;
 }
 .make-private-button_container button:hover{
   background-color: #396138;
 }
 .make-premium-button_container button:hover{
    background-color: rgb(157, 177, 68);
    transform: scale(1.02);
 }


 /* review styles */
.review_container{
    width: 100%;
    width: 90%;
    align-self: center;
    margin-top: 30px;
    margin-bottom: 40px;
  
}
.review_container div{
    width: 100%;
    display: flex;
    align-items: center;
}
.review_container .review{
   color: white;
   font-size: 25px;
}
.currentreviewtext , .newreview{
    margin: 10px;
}
.new-review-input_container{
    margin-bottom: 30px;
}
.review_container .currentreviewtext .now_review {
    background-color:#2e2e2e ;
    border-radius: 5px;
    color: white;
    width: 70%;
    padding: 10px;
}
.review_container button{
   background-color:#4e864c;
   border-radius: 5px;
    color: white;
    padding: 5px;
  
}

.newreview input{
   background-color: #2e2e2e;
   border-radius: 5px;
   color: white;
   width: 70%;
   padding: 10px;
   outline: none;
}

.currentreviewtext > p , .newreview div > p{
    color: white;
    width: 150px;
}
.review_container .newreview >div{
    flex-direction: column;
}

.edit-review-button_container , .send-review_container  {
    width: auto !important;
    margin-left: 20px;

}

.delete-review-button_container{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.delete-review-button_container button{
   background-color: #9B423D;
   padding: 10px;

}


.delete-count_container{
    width: 100%;
    display: flex !important;
    justify-content: center !important;
    margin: 50px 0px;
}
.deleteaccount{
    background-color: #8b3b37 !important ;
    padding: 10px !important ;
   width: 70%;
   color: white;
   border-radius: 10px;
   
   font-size: 20px;
}