body {
  background-color: #2e2e2e;
}

#video_container{
  position: fixed;
  height: 300px;
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 600px;
  border: 1px solid #4e864c;
  bottom: 30px;
  left: 25%;
  background-color: rgba(0, 0, 0, 0.63);
  border-radius: 5px;
  z-index: 1;
  align-items: center;
  justify-content: center;
  cursor: move;
  padding: 10px;

}
.user_videos_container{
  width: auto;
  display: flex;
  justify-content: center;
}
 .buttons_video_container{
  width: 100%;
  text-align: center;
  
}
.react-draggable{
  background-color: rgb(68, 68, 68);
  border-radius: 5px;
  padding: 10px;
  width: 300px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 80px;
  right: 10px;
  border: 1px solid green;
}

.buttons_video_container button {
  margin: 0px 10px;
  border-radius: 5px;
  padding: 5px 20px;
  transition: .3s all;
}

.buttons_video_container button:hover {
  color: white;
  background-color: #727272;
}
.buttons_video_container button:nth-child(1){
    background-color: rgb(185, 74, 74);
}


.buttons_video_container button:nth-child(2){
background-color: #4e864c;
}

.buttons_video_container button:nth-child(3){
  background-color: #4e864c;
}

video{
  width: 50%;
  margin: 10px;
  z-index: 1;

}


body::-webkit-scrollbar{
  width: 10px;
  background-color: #2e2e2e;

}

body::-webkit-scrollbar-thumb{
  background:#4e864c;
  border-radius: 10px;

}

@media (max-width:685px) {
  .user_videos_container{
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  video{
    width: 100%;
    margin: 0px;
    height: 100% !important;
  }
  #video_container{
    height: 50%;
    padding: 10px;
  }
  .buttons_video_container button {
  
    padding: 2px 20px;
    
  }
}