.icon_more{
    color: #fff;
    font-size: 30px;
    position: absolute;
    right: 0px;
    transition: .2s all;
}
.icon_more:hover{
    color:#4e864c ;
}

#comment_container #comment-content_container{
    word-break: break-all;
    max-height: 100px;
    overflow-x: auto;
  }