.messages_container{
    padding-left: 340px;
}




@media (max-width:685px) {
    /* .chats__user-father_responsive{
        display: flex;
    } */
    .chats__user-father{
        position: static;
        height: auto;
        padding-top: 0px;
    }
    .messages_container{
        padding-left: 0px;
    }
    .userconversation__container{
        padding-top: 0px;
        padding-right: 0px;
        position: static;
    }
    #chats-user__container {
        display: flex;
        flex-direction: row;
        background-color: #212121;
        overflow-y: scroll;
        min-width: 340px;
        height: 100%;
      }
      .friend-contact{
        flex-direction: column;
        border-right: 1px solid gray;
        width: 115px !important;
        align-items: center;
        justify-content: center;
      }
      #chats-user__container .friend-contact .friend-contact__avatar{
        margin-right: 0px;
      }
}