.messages_container{
    padding-left: 340px;
}

.no-view_chats img{
    animation: logo360 5s ;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function:linear;
}

@keyframes logo360 {
    from{
        transform: rotateY(0deg);
    }
    to{
        
        transform: rotateY(360deg);
    }
}

@media (max-width:685px) {
    /* .chats__user-father_responsive{
        display: flex;
    } */
    .chats__user-father{
        position: static;
        height: auto;
        padding-top: 0px;
    }
    .messages_container{
        padding-left: 0px;
    }
    .userconversation__container{
        padding-top: 0px;
        padding-right: 0px;
        position: static;
        height:calc(100vh - 205px);
    }
    #chats-user__container {
        display: flex;
        flex-direction: row;
        background-color: #212121;
        overflow-y: scroll;
        min-width: 340px;
        height: 100%;
      }
      .friend-contact{
        flex-direction: column;
        border-right: 1px solid gray;
        width: 115px !important;
        align-items: center;
        justify-content: center;
      }
      .friend-contact__avatar{
        margin-right: 0px;
      }
}