#coversation__container{
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    overflow-y: scroll;
    position: relative;
}
#coversation__container div {
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    margin: 10px 0px ;
    width: max-content;
    float: right;
    display: flex;
    align-items: center;
    word-break: break-all;
    max-width: 300px;
}
#coversation__container #lanzador {
   background-color: rgb(97, 100, 97);
   align-self: flex-start;
}
#coversation__container #receptor{
   background-color: #4e864c;
   align-self: flex-end;
}
#coversation__container #receptor:last-child{
   margin-bottom: 0px;
}
#coversation__container #lanzador:last-child{
  margin-bottom: 0px;
}

.no_mensajes{
   position: absolute;
   padding: 0px 15px;
   bottom: 10px;
   background-color: #4e864c;
   color: white;
   align-self: center;
   width: 40%;
   text-align: center;
   min-width: 150px;
   border-radius: 5px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.arrow_chat{
   font-size: 30px;
}