#contenedor_home {
  /* padding-right: 20px; */
  justify-content: center;
}
#contenedor_home .infinite-scroll-component__outerdiv{
  width: 80%;
}
.container {
  background-color: #2e2e2e;
  background-size: 100% !important;
  background-repeat: repeat;
}

#contenedor_friends {
  box-shadow: inset 0px 0px 20px rgb(26, 26, 26);
}
#contenedor_friends .contenedorfriend .contenedorfriend_info {
  width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#contenedor_friends .linkfriend_message{
  display: flex;
}
#contenedor_friends .mess_friend_section {
  color: gray;
  font-size: 25px;
  text-align: center;
  transition: .2s all;
}
#contenedor_friends .mess_friend_section:hover {
  color: #4e864c;
}
#contenedor_friends #title_friend_Postile {
  width: 100%;
  text-align: center;
}
#contenedor_friends #title_friend_Postile h1 {
  font-weight: 700;
  letter-spacing: 2px;
  text-shadow: 4px 4px 2px #4e864c ; 
  user-select: none;
}

#contenedor_posts {
  width: 100%;
  padding-right: 30px;
  height: auto;
}

/* styles contenedores */

#post_content {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#post_content div {
  width: 100%;
  float: right;
  display: flex;
  align-items: center;
  word-break: break-all;
}

/* posts styles */

#father__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#Avatar_Username__container {
  display: flex;
  align-items: center;
  width: 100%;
}
#Avatar_Username__container .user_post__info {
  margin-left: 10px;
}
#Avatar_Username__container .user_post__info h2:hover {
  text-decoration: underline;
  cursor: pointer;
}

#a_content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  transition: 0.2s all;
  text-align: left;
  padding: 5px;
  align-items: center;
}

/* background-size: 100% !important;
background-repeat:repeat;
} */

.btn {
  color: #FFF;
  padding: 10px;
  background-color: #4E864C;
  width: auto;
  margin: 0 auto;
  border-radius: 5px;
  transition: .2s all;
}
.btn:hover {
  transform: scale(1.02);
}
.btn:active {
 background-color: #3f6b3d;
}


/* estilos scroll infinito */
.infinite-scroll-component__outerdiv{
  width: 100%;
}

.loading_spiner{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ESTILOS AMIGOS RESPONSIVE */

.contenedorFriends-responsive_container{
  display: flex;
  padding: 10px 0px;
  overflow-y: auto;
  display: none;
  background-color: rgba(17, 17, 17, 0.658);
  border-radius: 5px;
}
.contenedorFriends-responsive_container .contenedorfriend_info{
  display: NONE;


}
.contenedorFriends-responsive_container .contenedorfriend{
  border-radius: 50%;
  width: auto;
  margin: 0 10px;
  position: relative;

}
#contenedor_friends::-webkit-scrollbar{
  width: 10px;
  background-color: #2e2e2e;

}
#contenedor_friends::-webkit-scrollbar-thumb{
  background:#4e864c;
  border-radius: 10px;

}

.contenedorFriends-responsive_container .contenedorfriend .mess_friend_section{
  position: absolute;
  color: rgb(129, 129, 129);
  font-size: 25px;
  top: 0;right: -6px;
  transition: .2s all;

}
.contenedorFriends-responsive_container .contenedorfriend .mess_friend_section:hover{
 color: #4e864c;

}

/* styles input friends */

.input-friends_container{
  width: 100%;
  display: flex;
  margin-top: 10px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
.input-friends_container .icon-home-search{
  color: gray;
  font-size: 20px;
  align-self: center;
  
}
.input-friends_container input{
 background-color: transparent;
 width: 100%;
 outline: none;
 padding: 5px;
}

/* styles premium */
#premium{
  border: 1px solid #3d8a57
}


@media (max-width:767px) {
  .contenedorFriends-responsive_container{
    display: flex;
  }
}