#contenedor_home {
  /* padding-right: 20px; */
}
.container {
  background-color: #2e2e2e;
  background-size: 100% !important;
  background-repeat: repeat;
}

#contenedor_friends {
  box-shadow: inset 0px 0px 20px rgb(26, 26, 26);
}

#contenedor_posts {
  width: 100%;
  padding-right: 30px;
  height: auto;
}

/* styles contenedores */

#post_content {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#post_content div {
  width: 100%;
  float: right;
  display: flex;
  align-items: center;
  word-break: break-all;
}

/* posts styles */

#father__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#Avatar_Username__container {
  display: flex;
  align-items: center;
  width: 100%;
}
#Avatar_Username__container .user_post__info {
  margin-left: 10px;
}
#Avatar_Username__container .user_post__info h2:hover {
  text-decoration: underline;
  cursor: pointer;
}

#a_content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  transition: 0.2s all;
  text-align: left;
  padding: 5px;
}

/* background-size: 100% !important;
background-repeat:repeat;
} */

.btn {
  color: #FFF;
  padding: 10px;
  background-color: #4E864C;
  width: auto;
  margin: 0 auto;
  border-radius: 5px;
  transition: .2s all;
}
.btn:hover {
  transform: scale(1.02);
}
.btn:active {
 background-color: #3f6b3d;
}


/* estilos scroll infinito */
.infinite-scroll-component__outerdiv{
  width: 100%;
}

.loading_spiner{
  display: flex;
  justify-content: center;
  align-items: center;
}