.p-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.profile-container {
	max-width: 1000px;
	margin-top: 85px;
	width: 75%;
	min-width: 330px;
	display: grid;
	grid-template-rows: 100px 1fr;

	background-color: #202225;
	padding: 10px 10px 35px 10px;

	border-radius: 5px;
	/* background-color: #00000043; */
}
.info_container {
	font-size: 1rem;
}

/* img style */
.profile-container .img-container {
	display: flex;
	justify-content: center;
	position: relative;
}
.profile-img {
	/* grid-column: 2;
	grid-row: 1; */
	border-radius: 50%;

	width: 150px;
	border: 3px solid #2e2e2e;
	position: absolute;
	top: -80px;
	transition: 0.2s all;
}
.profile-img:hover {
	/* grid-column: 2;
	grid-row: 1; */
	cursor: pointer;
	filter: brightness(10%);
}
.profile-buttonsito:hover {
	transform: scale(1.2);
}

.img_profile {
	display: flex;
	width: 150px;
	height: 150px;
	border: 3px solid #2e2e2f;
	background-image: url(https://japanpowered.com/media/images//goku.png);
	background-position: center;
	background-size: cover;
	border-radius: 50%;
	position: absolute;
	top: -80px;
	align-items: center;
	justify-content: center;
	transition: 0.2s all;
}
.img_profile .info {
	color: white;
	text-align: center;
	font-weight: 700;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #202225c9;
	transition: 0.2s all;
	opacity: 0;
}

.img_profile:hover {
	cursor: pointer;
}
.img_profile:hover .info {
	opacity: 1;
}

/* user description */
.profile-container .shadow-box {
	display: flex;
	justify-content: center;
}
.profile-container .shadow-box .user_description {
	background-color: #2e2e2f;
	width: 90%;
	color: white;
	border-radius: 5px;
	padding: 10px;
}
.profile-container .shadow-box .user_description .span-info {
	color: #929497;
	display: block;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 13px;
}
.profile-container .shadow-box .user_description div {
	display: flex;
	justify-content: space-between;
	margin: 3px 10px;
	flex-wrap: wrap;
}
.profile-container .shadow-box .user_description div > div {
	display: flex;
	flex-direction: column;
}
.profile-container .shadow-box .user_description div .button_container {
	align-self: center;
	padding-bottom: 10px;
	margin-top: 10px;
}
.profile-container .shadow-box .user_description div button {
	background-color: #4e864c;
	border-radius: 5px;
	padding: 5px 15px;
	transition: 0.3s all;
}
.profile-container .shadow-box .user_description div button:hover {
	background-color: #447543;
}

.button_container {
	font-size: 0.9rem;
	padding-bottom: 50px;
	margin-top: 20%;
	color: white;
}

@media (max-width: 960px) {
	.profile-container .shadow-box .user_description div {
		flex-direction: column;
		flex-wrap: none;
	}
	.profile-container .shadow-box .user_description div {
		margin: 0;
	}
	.profile-container .user_description div > div {
		padding: 0px;
	}
	.profile-container .shadow-box .user_description div .button_container {
		width: 100%;
	}
	.profile-container .shadow-box .user_description div button {
		width: 100%;
	}
	.info_container {
		font-size: 0.9rem;
	}
	.button_container {
		font-size: 0.9rem;
		padding-bottom: 50px;
		margin-top: 20%;
		color: white;
	}
}

/* POOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOSTS */

.profile-posts-component {
	display: flex;
	/* min-width: 300px; */
	min-width: 1000px;
	place-self: center;
	margin-top: 0px;
	background-color: #202225;
}
/* @media screen and (max-width: 960px) {
	.profile-posts-component {
		min-width: 700px;
	}
} */

.profile-posts-component-outside-div {
	margin-top: 50px;
	place-self: center;
}
