.p-container {
	box-sizing: border-box;
	display: grid;
	grid-template-columns: 20% 60% 20%;
	grid-template-rows: 1fr 1fr;
	background-color: #2e2e2e;
	min-width: 320px;
}
.profile-container {
	margin-top: 30px;
	grid-column: 2 / 3;
	grid-row: 1;
	display: grid;
	grid-template-columns: 20% 60% 20%;
	grid-template-rows: 55% 8% 5% 12% 4% 4% auto;

	width: 100%;
	height: 35em;
	background-color: rgba(0, 0, 0, 0.2);
	/* background-color: #00000043; */
}
.user-fullname {
	grid-column: 2;
	grid-row: 2;
	color: aliceblue;
}

.shadow-box {
	grid-column: 2;
	grid-row: 2 /7;
	width: 100%;
	height: 110%;
	left: 377px;
	top: 414px;
	background: rgba(255, 255, 255, 0.04);
	border-radius: 5px;
}
.profile-img {
	grid-column: 2;
	grid-row: 1;
	place-self: center;
	border-radius: 50%;
	aspect-ratio: 1 / 1;
	max-width: 100%;
	max-height: 80%;
	border-color: rgb(62, 62, 62);
	border-style: solid;
	border-width: 3px;
}

.profile-buttonsito {
	grid-column: 3;
	grid-row: 1;
	margin-left: 20%;
	margin-top: 30px;

	aspect-ratio: 1 / 1;
	height: 25px;
	width: 25px;

	background: rgba(14, 11, 11, 0.3);
	border-radius: 5px;
	color: aliceblue;
}
.profile-buttonsito:hover {
	transform: scale(1.2);
}

.user-firstname {
	grid-column: 2;
	grid-row: 2;
	color: aliceblue;
	font-weight: bold;
	font-size: 1.8em;
	margin-bottom: 0%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.user-username {
	grid-column: 2;
	grid-row: 3;
	color: rgb(188, 188, 188);
	font-weight: lighter;
	font-size: 0.9em;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 0%;
}
.user-followers {
	grid-column: 2;
	grid-row: 5;

	color: rgb(188, 188, 188);
	font-weight: lighter;
	font-size: 0.9em;
	margin-left: 8%;
}
.user-following {
	grid-column: 2;
	grid-row: 6;
	color: rgb(188, 188, 188);
	font-weight: lighter;
	font-size: 0.9em;
	margin-left: 8%;
}
.user-biography {
	grid-column: 2;
	grid-row: 4;
	display: flex;
	justify-content: center;
	align-items: center;
	color: aliceblue;
	font-size: 0.9em;
	margin-left: 3%;
	margin-right: 3%;
}

@media screen and (max-width: 600px) {
	.user-biography {
		margin-left: 4%;
		margin-right: 4%;
		font-size: 0.6em;
	}
	.profile-img {
		grid-column: 1/4;
		grid-row: 1 /2;
		margin-left: 10%;
		margin-right: 10%;
	}
}
@media screen and (max-width: 768px) {
	.user-biography {
		grid-column: 1/4;
		grid-row: 4 /5;
		margin-left: 2%;
		margin-right: 2%;
		font-size: 0.8em;
	}
	.user-username {
		font-size: 0.7em;
	}
	.user-following {
		font-size: 0.7em;
		grid-column: 1/3;
		grid-row: 5;
		margin-left: 12%;
	}
	.user-followers {
		font-size: 0.7em;
		grid-column: 1/3;
		grid-row: 6;
		margin-left: 12%;
	}
}
@media screen and (max-width: 1050px) {
	.shadow-box {
		grid-column: 1/4;
		grid-row: 2 /7;
	}
	.user-biography {
		margin-left: 4%;
		margin-right: 4%;
		font-size: 0.8em;
	}
}
@media screen and (max-width: 1200px) {
	.user-biography {
		font-size: 0.8em;
	}
}

/* SETTINGS COMPONENT OVER THE PROFILE */
.settingsComponent {
	grid-column: 2/3;
	grid-row: 1 /3;
	place-self: center;
	width: 50%;
	height: 60%;
	background-color: #463636;
}
