.navbar {
  background-color: #252525;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar .home {
  height: 45px;
  width: 45px;
  border-radius: 100%;
  background-color: #575757;
  color: #fff;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .actions {
  display: flex;
  color: white;
  align-items: center;
  gap: 20px;
}
